<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Users</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <h1>Create Users</h1>
    <hr />
    <form action="/createUserAPI" method="post">
      <div>
        <label for="name">Full Name</label>
        <input
          type="text"
          name="name"
          placeholder="Fullname"
          id="name"
          value="<%= typeof(detailUserGame) === 'undefined' ? '' : detailUserGame.UserBiodatum.name %>"
          required
        />
      </div>
      <div>
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          value="<%= typeof(detailUserGame) === 'undefined' ? '' : detailUserGame.username %>"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          value="<%= typeof(detailUserGame) === 'undefined' ? '' : detailUserGame.password %>"
          required
        />
      </div>
      <div>
        <label for="company">Company</label>
        <input
          type="text"
          name="company"
          placeholder="company"
          id="company"
          value="<%= typeof(detailUserGame) === 'undefined' ? '' : detailUserGame.UserBiodatum.company %>"
          required
        />
      </div>
      <div>
        <label for="description">Desc</label>
        <textarea
          name="description"
          placeholder="Description"
          id="description"
          cols="30"
          rows="10"
        >
<%= typeof(detailUserGame) === 'undefined' ? '' : detailUserGame.UserBiodatum.description %></textarea
        >
      </div>
      <div>
        <button type="submit">Save</button>
        <button><a href="/userDashboard">Back</a></button>
      </div>
    </form>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
