<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Game</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <h1 class="text-center">List of User Game</h1>
    <hr />
    <div class="d-flex align-items-end justify-content-end">
      <a href="/userCreate" class="btn btn-primary">Create User</a>
    </div>
    <hr />
    <table class="table table-hover table-dark table-striped table-bordered">
      <thead>
        <th>No</th>
        <th>username</th>
        <th>password</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% result.forEach((user,i=1) => { %>
        <tr>
          <td><%= user.id %></td>
          <td><a href="/userDetail/<%= user.id %>"><%= user.username %></a></td>
          <td><%= user.password %></td>
          <td>
            <a href="/userUpdate/<%= user.id %>">EDIT</a> |
            <a href="/userDelete/<%= user.id %>">DELETE</a>
          </td>
        </tr>
        <%}) %>
      </tbody>
    </table>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
