<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge FW C6</title>
    <!-- <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/bootstrap.min.js"></script> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/style_ch3.css" />
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="">LOGO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
    </nav> -->

    <div id="navbar">
      <div id="navLogo">LOGO</div>
      <div id="navbarNavigation">
        <div class="navItem">HOME</div>
        <div class="navItem">WORK</div>
        <div class="navItem">CONTACT</div>
        <div class="navItem">ABOUT ME</div>
        <div>
          <a href="/userDashboard" class="navItem">User Dashboard</a>
        </div>
      </div>
      <div id="navbarUser">
        <div class="navItem">SIGN UP</div>
        <!-- <div class="navItem"> -->
        <!-- Button trigger modal -->
        <div id="usernameDisplay" class="d-none">Hello there</div>
        <div class="navItem">
          <button
            id="loginBtn"
            type="submit"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Login
          </button>
        </div>
        <!-- <a id="loginBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          LOGIN
        </a> -->
        <!-- </div> -->
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="loginForm">
              <div class="col-md-12">
                <label for="validationServer01" class="form-label"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  required
                />
                <div class="invalid-feedback">User tidak ditemukan</div>
              </div>

              <div class="col-md-12">
                <label for="validationServer01" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  required
                />
                <div class="invalid-feedback">Password salah</div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              id="buttonClose"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>

            <button
              type="button"
              class="btn btn-primary"
              onclick="buttonOnClick()"
            >
              login
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="pageOne">
      <section class="bannerArea">
        <!-- <div class="banner-img"></div> -->
        <h1 class="headerUtama">PLAY TRADITIONAL GAME</h1>
        <h3 class="headerSub">Experience new traditional game play</h3>
        <div>
          <a href="/play" class="btn btn-primary">PLAY NOW</a>
        </div>
      </section>
    </div>
    <div id="pageTwo">
      <div class="containerPageTwo">
        <div class="headerPageTwo">
          <div class="h3PageTwo">
            <h3>What's so special?</h3>
          </div>
          <div class="h1PageTwo">
            <h1>THE GAMES</h1>
          </div>
        </div>

        <div class="containerImagePageTwo">
          <div class="row">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="3"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="4"
                ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block w-100"
                    src="./assets/rockpaperstrategy-1600.jpg"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-social.png"
                    alt="Second slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-social.png"
                    alt="Third slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-social.png"
                    alt="Fourth slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-social.png"
                    alt="Fifth slide"
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pageThree">
      <div class="containerPageThree">
        <div class="headerPageThree">
          <h3>What's so special?</h3>
          <h1>FEATURES</h1>
        </div>

        <ul id="contentPageThree">
          <li class="itemPageThree1">
            <h5>TRADITIONAL GAMES</h5>
            <p class="subItem">
              If you miss ur childhood, we provide many traditional games here
            </p>
          </li>
          <li class="itemPageThree"><h5>GAME SUIT</h5></li>
          <li class="itemPageThree"><h5>TBD</h5></li>
        </ul>
      </div>
    </div>
    <div id="PageFour">
      <div class="containerH3PageFour">
        <div class="h3PageFour">
          <h3>Can My Computer Run this game?</h3>
        </div>
      </div>

      <div class="containerH1PageFour">
        <div class="h1PageFour">
          <h1>system requirements</h1>
        </div>
      </div>

      <div class="containerGridPageFour">
        <div class="item item-1">
          <div class="title">OS</div>
          <div class="content">
            Windows 7 64-bit only (No OSX support at this time)
          </div>
        </div>

        <div class="item item-2">
          <div class="title">PROCESSOR</div>
          <div class="content">
            Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
          </div>
        </div>

        <div class="item item-3">
          <div class="title">MEMORY</div>
          <div class="content">4 GB RAM</div>
        </div>

        <div class="item item-4">
          <div class="title">STORAGE</div>
          <div class="content">8 GB available space</div>
        </div>

        <div class="item item-5">
          <div class="title">GRAPHICS</div>
          <div class="content">
            NVIDIA Geforce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11
            (Shader Model 5)
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="PageFive">
      <div class="containerPageFive">
        <div class="HeaderH1PageFive">
          <h1>TOP SCORES</h1>
        </div>

        <div class="textPageFive">
          <p>This top score from various games provided on this platform</p>
        </div>

        <button class="btn">see more</button> -->
<!-- Top Score -->
  <div id="top-score" class="top-score" style="background-image: url(assets/topscore.jpeg); min-height: 100vh; background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="container">
      <div class="row">
        <div class="col-5" style="margin-top: 340px">
          <h1 style="color: #FFFFFF;">TOP SCORES</h1>
          <p style="margin-top: 40px; color: #ffffff">
            This top score from various games provided <br />
            on this platform
          </p>
          <a href="/" class="btn btn-warning px-5 py-2 see-more"
            style="margin-top: 40px; background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%); border-radius: 3px; color: #1A1917; font-weight: bold; font-size: 12px">see
            more</a>
        </div>
        <div class="col-7">
          <div class="row">
            <% for(let i=0; i < data.length; i++) { %>
              <% if(i == 1) { %>
                <div class="col-8 offset-1">
              <% }else { %>
                <div class="col-8 offset-4">
              <% } %>
              <% if(i == 0) { %>
                <div class="card" style="margin-top: 185px; background: rgba(255, 255, 255, 0.08);border-radius: 10px; width: 452.59px;">
              <%} else{%>
                <div class="card" style="margin-top: 30px; background: rgba(255, 255, 255, 0.08);border-radius: 10px; width: 452.59px;">
              <% } %>
                <div class="card-body">
                  <h5 class="card-title d-flex">
                    <div class=""> <img src="assets/Ellipse.svg" style=" z-index: -1;" alt=""></div>
                    <div class="">
                      <img src="<%=data[i].img_url%>"class="rounded-circle" style="z-index: 1; margin-left: -75px; margin-top: -2px;" alt="" />
                    </div>
                    <div class="" style="margin-left: 22px; color: #ffb548; font-size: 20px; font-weight: 400;">
                      <h3><%= data[i].name %></h3>
                      <p><%= data[i].job %></p>
                    </div>
                    <div class="ms-auto" style="padding-right: 20px">
                      <img src="assets/twitter.svg" alt="" />
                    </div>
                  </h5>
                  <p class="" style="
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 25px;
                        color: #ffff;
                        position: relative;
                      ">
                    “<%= data[i].review %>”
                  </p>
                  <p class="date" style="color:#FFFFFF"><%= data[i].date %></p>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- <div class="card card1" style="width: 23rem">
          <div class="card-header">
            <img src="./assets/image 8.jpg" alt="" />
            <h5 class="card-title">Evan Lahti</h5>
            <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
            <div class="imgTwitter">
              <img src="./assets/twitter.svg" alt="" />
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">“One of my gaming highlights of the year.”</p>
          </div>
        </div>

        <div class="card card2" style="width: 23rem">
          <div class="card-header">
            <img src="./assets/image9.jpg" alt="" />
            <h5 class="card-title">Jada Griffin</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nerdreactor</h6>
          </div>
          <div class="card-body">
            <p class="card-text">
              “The next big thing in the world of streaming and survival games.”
            </p>
          </div>
        </div>

        <div class="card card3" style="width: 23rem">
          <div class="card-header">
            <img src="./assets/image10.jpg" alt="" />
            <h5 class="card-title">Aaron Williams</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nerdreactor</h6>
          </div>
          <div class="card-body">
            <p class="card-text">
              “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”
            </p>
          </div>
        </div> -->

    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/login.js"></script>
    
  </body>
</html>
