<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Scissors Paper Game</title>
    <!-- <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="/css/style_ch4.css" />
  </head>
  <body id="game" style="background: #9c835f">
    <!-- Navbar -->
    <nav id="navbar">
      <a href="/">&lt;</a>
      <img src="/assets/logo3.png" alt="Logo" />
      <h2>ROCK PAPER SCISSORS</h2>
    </nav>

    <!-- Body -->
    <section id="game">
      <a href="" id="refresh"></a>

      <div class="wrapper">
        <div class="player" id="playerChoice">
          <p class="player-name"></p>
          <div class="options" data-option="ROCK">
            <img src="/assets/batu.png" alt="Batu" />
          </div>
          <div class="options" data-option="PAPER">
            <img src="/assets/kertas.png" alt="Kertas" />
          </div>
          <div class="options" data-option="SCISSOR">
            <img src="/assets/gunting.png" alt="Gunting" />
          </div>
        </div>

        <!-- VS -->
        <div class="center">
          <div class="center-text" id="vs">
            <p>VS</p>
          </div>
          <div class="result"></div>
        </div>

        <div class="player" id="computerChoice">
          <p class="player-name">COM</p>
          <div class="options" data-option="ROCK">
            <img src="/assets/batu.png" alt="Batu" />
          </div>
          <div class="options" data-option="PAPER">
            <img src="/assets/kertas.png" alt="Kertas" />
          </div>
          <div class="options" data-option="SCISSOR">
            <img src="/assets/gunting.png" alt="Gunting" />
          </div>
        </div>
      </div>
    </section>

    <script src="/assets/js/player.js"></script>
    <script src="/assets/js/human-player.js"></script>
    <script src="/assets/js/computer-player.js"></script>
    <script src="/assets/js/suit-game.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>     -->
  </body>
</html>
