<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Users</title>
  </head>
  <body>
    <h1>Update Users</h1>
    <hr />
    <form action="/userUpdate/<%= detailUserGame.id %>" method="post">
      <div>
        <label for="name">Full Name</label>
        <input
          type="text"
          name="name"
          placeholder="Fullname"
          id="name"
          value="<%= detailUserGame.UserBiodatum.name %>"
          required
        />
      </div>
      <div>
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          value="<%= detailUserGame.username %>"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="text"
          name="password"
          placeholder="Password"
          id="password"
          value="<%= detailUserGame.password %>"
          required
        />
      </div>
      <div>
        <label for="company">Company</label>
        <input
          type="text"
          name="company"
          placeholder="company"
          id="company"
          value="<%= detailUserGame.UserBiodatum.company %>"
          required
        />
      </div>
      <div>
        <label for="description">Desc</label>
        <textarea
          name="description"
          placeholder="Description"
          id="description"
          cols="30"
          rows="10"
        >
<%= detailUserGame.UserBiodatum.description %></textarea
        >
      </div>
      <div>
        <button type="submit">Save</button>
        <button><a href="/userDashboard">Back</a></button>
      </div>
    </form>
  </body>
</html>
